﻿@model IEnumerable<EfsolAspNetProject.Core.Models.Restaurant>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Razor*@
<h2>Заведения</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
    }
</table>



